{% extends 'sesiones/base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    <form method="post" action="{% url 'sesiones:login' %}">
        {% csrf_token %}
        <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="text" class="form-control" name="username" required />
            <label class="floating-label">Nombre de Usuario</label>
        </div>
        <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="password" class="form-control" name="password" required />
            <label class="floating-label">Contraseña</label>
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-lg mt-40">Iniciar Sesión</button>
    </form>
    <!-- TODO: Colocar link correcto a página de registro -->
    <a class="float-right" href="#">Registrarme</a>
{% endblock %}