{% extends 'dashboard/base.html' %}
{% load staticfiles %} 
{% block title %}Manejo de Personal{% endblock %}

{% block content %}

    <div class="row purchace-popup">


        <div class="col-12">
            <span class="d-block d-md-flex align-items-center">
                <p class="text-gray" style="margin-right:5%;font-size:20px;">Personal de Atención de Emergencias</p>
                <a class="btn purchase-button mt-4 mt-md-0" href="#" target="_blank">Agregar Personal</a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row"><i class="fa fa-users fa-2x text-gray" style="margin-left:3%;margin-right:3%;"></i><h3 class="text-gray mb-5">Personal</h3></div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    Usuario
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Cargo
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Fecha de Registro
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="py-1">
                                    <img src="{% static 'img/faces-clipart/pic-1.png' %}" alt="logo" />
                                </td>
                                <td>
                                    Andres Torres
                                </td>
                                <td>
                                    Bombero 
                                </td>
                                <td>
                                    andresitorresm@gmail.com
                                </td>
                                <td>
                                    15 Jun, 2017
                                </td>
                            </tr>
                            <tr>
                                <td class="py-1">
                                    <img src="{% static 'img/faces-clipart/pic-2.png' %}" alt="image" />
                                </td>
                                <td>
                                    Jawil Ricauter
                                </td>
                                <td>
                                    Rescatista
                                </td>
                                <td>
                                    ricauterjawil@gmail.com
                                </td>
                                <td>
                                    1 Jul, 2017
                                </td>
                            </tr>
                            <tr>
                                <td class="py-1">
                                    <img src="{% static 'img/faces-clipart/pic-3.png' %}" alt="image" />
                                </td>
                                <td>
                                    Carolina Martinez
                                </td>
                                <td>
                                    Medico Cirujano
                                </td>
                                <td>
                                    martinez@usb.ve
                                </td>
                                <td>
                                    28, Nov 2017
                                </td>
                            </tr>
                            <tr>
                                <td class="py-1">
                                    <img src="{% static 'img/faces-clipart/pic-4.png' %}" alt="image" />
                                </td>
                                <td>
                                    David Rodriguez
                                </td>
                                <td>
                                    Administrativo
                                </td>
                                <td>
                                    drodriguez@gmail.com
                                </td>
                                <td>
                                    02 Feb, 2018
                                </td>
                            </tr>
                            <tr>
                                <td class="py-1">
                                    <img src="{% static 'img/faces-clipart/pic-1.png' %}" alt="image" />
                                </td>
                                <td>
                                    Edwar Yepez
                                </td>
                                <td>
                                    Personal de Monitoreo
                                </td>
                                <td>
                                    edyepez@gmail.com
                                </td>
                                <td>
                                    23 May, 2018
                                </td>
                            </tr>
                            <tr>
                                <td class="py-1">
                                    <img src="{% static 'img/faces-clipart/pic-2.png' %}" alt="image" />
                                </td>
                                <td>
                                    Maria Machado
                                </td>
                                <td>
                                    Oficial de Policia
                                </td>
                                <td>
                                    maferisp@gmail.com
                                </td>
                                <td>
                                    14 Jun, 2018
                                </td>
                            </tr>
                            <tr>
                                <td class="py-1">
                                    <img src="{% static 'img/faces-clipart/pic-3.png' %}" alt="image" />
                                </td>
                                <td>
                                    German Robayo
                                </td>
                                <td>
                                    Personal de Rescate
                                </td>
                                <td>
                                    robayogerman@gmail.com
                                </td>
                                <td>
                                    01 Ene, 2019
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}