{% extends 'dashboard/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Actualizar Voluntario{% endblock %}

{% block content %}

    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }} 
    {% endfor %}



    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-3">
            <a  href="{% url 'dashboard:personal_management:personal_index' %}">
                <button type="button" class="btn btn-icons btn-rounded btn-inverse-warning">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </a>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-aray mb-5">Actualizar Voluntario</h2>
                    <form method="POST" >
                        {% csrf_token %}

                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">{{ form.usuario.label }}</label>                        
                            <div class="input-group">
                                <div class="input-group-prepend bg-aray">
                                    <span class="input-group-text bg-transparent">
                                    <i class="fa fa-id-card text-white"></i>
                                    </span>
                                </div>
                                {% render_field form.usuario class="form-control" placeholder="Usuario Asociado" aria-label="Usuario" aria-describedby="colored-addon1" %}
                            </div>
                            <p class="text-danger">{{form.usuario.errors.as_text}}</p>
                        </div>

                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">{{ form.telefono.label }}</label>                        
                            <div class="input-group">
                                <div class="input-group-prepend bg-aray">
                                    <span class="input-group-text bg-transparent">
                                    <i class="fa fa-map-marker text-white"></i>
                                    </span>
                                </div>
                                {% render_field form.telefono class="form-control" placeholder="Telefono" aria-label="Telefono" aria-describedby="colored-addon1" %}
                            </div>
                            <p class="text-danger">{{form.telefono.errors.as_text}}</p>
                        </div>

                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">{{ form.tipo_identidad.label }}</label>                        
                            <div class="input-group">
                                <div class="input-group-prepend bg-aray">
                                    <span class="input-group-text bg-transparent">
                                    <i class="fa fa-map-marker text-white"></i>
                                    </span>
                                </div>
                                {% render_field form.tipo_identidad class="form-control" placeholder="Tipo Identidad" aria-label="Tipo Identidad" aria-describedby="colored-addon1" %}
                            </div>
                            <span class="text-danger">{{form.tipo_identidad.errors.as_text}}</span>
                        </div>

                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">{{ form.nro_identidad.label }}</label>                        
                            <div class="input-group">
                                <div class="input-group-prepend bg-aray">
                                    <span class="input-group-text bg-transparent">
                                    <i class="fa fa-circle-o text-white"></i>
                                    </span>
                                </div>
                                {% render_field form.nro_identidad class="form-control" placeholder="Numero de Identidad" aria-label="Numero de Identidad" aria-describedby="colored-addon1" %}
                            </div>
                            <span class="text-danger">{{form.nro_identidad.errors.as_text}}</span>
                        </div>

                        <br><br><button type="submit" class="btn btn-success btn-block">Actualizar Voluntario</button>
                                       
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>



{% endblock %}