{% extends 'dashboard/base.html' %}

{% block title %}Lista de Tareas{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
        <div class="card-body">
            <div class="row">
                <h3 class="text-gray mb-4">Lista de Tareas por Hacer</h3>
                <span class="d-block align-items-center">
                    <a class="btn gradient-button mt-4 mt-md-0" href="{% url 'dashboard:assignments:create_assignment' %}">Crear tarea</a>
                </span>
            </div>
            <div class="fluid-container">
            {% for tarea in tareas %}
                <div class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3">
                    <div class="col-md-1">
                        {% if tarea.estado == 0 %}
                            <i class="fa fa-flag fa-3x" style="color:orange;"></i>
                        {% elif tarea.estado == 2 %}
                            <i class="fa fa-flag fa-3x" style="color:green;"></i>
                        {% else %}
                            <i class="fa fa-flag fa-3x" style="color:purple;"></i>
                        {% endif %}    
                    </div>
                    <div class="ticket-details col-md-9">
                        <div class="d-flex">
                            <p class="text-dark font-weight-semibold mr-2 mb-0 no-wrap">Tarea Asignada a: {{ tarea.asignada_a }}</p>
                            <p class="mb-0 ellipsis">{{ tarea.titulo }}</p>
                        </div>
                            <p class="text-gray ellipsis mb-2">{{ tarea.descripcion }}</p>
                        <div class="row text-gray d-md-flex d-none">
                            {% if tarea.estado == 2%}
                                <div class="col-8 d-flex">
                                    <small class="mb-0 mr-2 text-muted">Hacer antes de:</small>
                                    <small class="Last-responded mr-2 mb-0 text-muted"> {{ tarea.fecha_limite }} </small>
                                </div>
                            {% else %}
                                <div class="col-8 d-flex">
                                    {% if tarea.fecha_de_resolucion %}
                                        <small class="mb-0 mr-2 text-muted">Terminado el:</small>
                                        <small class="Last-responded mr-2 mb-0 text-muted"> {{ tarea.fecha_de_resolucion }} </small>
                                    {% else %}
                                        <small class="mb-0 mr-2 text-muted">No tiene fecha de resolución aún</small>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="ticket-actions col-md-2">
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acciones
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-check text-success fa-fw"></i>Marcar como listo</a>
                                <a class="dropdown-item" href="{% url "dashboard:assignments:detail_assignment" tarea.id %}">
                                    <i class="fa fa-eye text-gray fa-fw"></i>Detalles de la tarea</a>
                                <a class="dropdown-item" href="{% url "dashboard:assignments:update_assignment" tarea.id %}">
                                    <i class="fa fa-edit text-gray fa-fw"></i>Editar tarea</a>
                                <a class="dropdown-item eliminar" data-url="{% url "dashboard:assignments:delete_assignment"  tarea.id %}" id="delete" data-toggle="modal" data-target="#delete">
                                    <i class="fa fa-trash-o text-danger fa-fw"></i>Eliminar tarea</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            </div>
        </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-aray">Nombre</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de querer eliminar esta tarea?</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <button class="btn button-aray float-right">Eliminar</button>
                </form>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}

<!--BLOQUE DE JS-->

{% block js %}

{% endblock %}