{% extends 'dashboard/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Crear Recurso{% endblock %}

{% block content %}

    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }} 
    {% endfor %}



    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-3">
            <a  href="{% url 'dashboard:resources_management:resources_index' %}">
                <button type="button" class="btn btn-icons btn-rounded btn-inverse-warning">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </a>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-aray mb-5">Crear Recurso</h2>
                    <form method="POST" >
                        {% csrf_token %}

                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">{{ form.nombre.label }}</label>                        
                            <div class="input-group">
                                <div class="input-group-prepend bg-aray">
                                    <span class="input-group-text bg-transparent">
                                    <i class="fa fa-header text-white"></i>
                                    </span>
                                </div>
                                {% render_field form.nombre class="form-control" placeholder="Nombre del Recurso" aria-label="Nombre" aria-describedby="colored-addon1" %}
                            </div>
                            <p class="text-danger">{{form.nombre.errors.as_text}}</p>
                        </div>

                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">{{ form.tipo.label }}</label>                        
                            <div class="input-group">
                                <div class="input-group-prepend bg-aray">
                                    <span class="input-group-text bg-transparent">
                                    <i class="fa fa-bars text-white"></i>
                                    </span>
                                </div>
                                {% render_field form.tipo class="form-control" placeholder="Tipo del Recurso" aria-label="Tipo" aria-describedby="colored-addon1" %}
                            </div>
                            <p class="text-danger">{{form.tipo.errors.as_text}}</p>
                        </div>
 

                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">{{ form.fecha_compra.label }}</label>
                            <div class="input-group">
                                <div class="input-group-prepend bg-aray">
                                    <span class="input-group-text bg-transparent">
                                    <i class="fa fa-calendar text-white"></i>
                                    </span>
                                </div>
                                {% render_field form.fecha_compra class="form-control datepicker-here" data-language='es' data-date-format="yyyy-mm-dd" placeholder="Fecha de Compra del Producto" aria-label="Fecha de Compra del Producto" aria-describedby="colored-addon1" %}
                            </div>
                            <p class="text-danger">{{form.fecha_compra.errors.as_text}}</p>
                        </div>


                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">{{ form.cantidad.label }}</label>
                            <div class="input-group">
                                <div class="input-group-prepend bg-aray">
                                    <span class="input-group-text bg-transparent">
                                    <i class="fa fa-circle text-white"></i>
                                    </span>
                                </div>
                                {% render_field form.cantidad class="form-control" placeholder="Cantidad" aria-label="Cantidada" aria-describedby="colored-addon1" %}
                            </div>
                            <p class="text-danger">{{form.cantidad.errors.as_text}}</p>
                        </div>


                        <br><br><button type="submit" class="btn btn-success btn-block">Agregar Recurso</button>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}
