{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}">
{% endblock %}
{% block title %}Manejo de Recursos{% endblock %}

{% block content %}
    <div class="row purchace-popup">

        <div class="col-lg-7 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-aray mb-5">Resúmen de Artículos Registrados</h2>
                    <div class="wrapper d-flex justify-content-between">
                        <div class="side-left">
                            <p class="mb-2 text-gray">Número de Artículos Registrados:</p>
                            <p class="display-3 mb-4 font-weight-light text-gray">{{ articulos }} artículos</p>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2 text-gray">Medicinas</p>
                            <p class="mb-2 text-primary">{{ articulos_medicina }}%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ articulos_medicina }}%" aria-valuenow="88"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="wrapper mt-4">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2 text-gray">Alimentos</p>
                            <p class="mb-2 text-dark"> {{articulos_alimentacion}}%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{articulos_alimentacion}}%" aria-valuenow="56"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="wrapper mt-4">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2 text-gray">Artículos de Rescate</p>
                            <p class="mb-2 text-warning">{{articulos_rescate}}%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{articulos_rescate}}%" aria-valuenow="88"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="wrapper mt-4">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2 text-gray">Transporte</p>
                            <p class="mb-2 text-success">{{articulos_transporte}}%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{articulos_transporte}}%" aria-valuenow="56"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="wrapper mt-4">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2 text-gray">Otros</p>
                            <p class="mb-2 text-success">{{articulos_otros}}%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{articulos_otros}}%" aria-valuenow="56"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="col-5">
            <span class="d-block d-md-flex align-items-center">
                <p>¡Registra un nuevo bien aquí!</p>
                <a class="btn purchase-button mt-4 mt-md-0" href="{% url 'dashboard:resources_management:create_resource' %}">Registrar bien</a>
            </span>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
            <div class="card-body">
                <h3 class="card-title text-gray">Recursos Registrados</h3>
                <div class="table-responsive">
                    {% if recursos.count > 0 %}
                    <table id="tablaRecursos" class="display">
                        <thead>
                            <tr>
                                <th> Nombre </td>
                                <th> Tipo </td>
                                <th> Cantidad </td>
                                <th> Acciones </td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for recurso in recursos %}
                            <tr>
                                <td> {{ recurso.nombre }} </td>
                                <td> {{ recurso.tipo }} </td>
                                <td> {{ recurso.cantidad }} </td>
                                <td>
                                    
                                    <a class="nav-link count-indicator " id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                        <button type="button" class="btn btn-icons btn-rounded btn-inverse-warning">
                                            <i class="fa fa-gear"></i>
                                        </button>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                                        <div class="dropdown-item">
                                            <p class="mb-0 text-muted">Acciones</p>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url "dashboard:resources_management:detail_resource" recurso.id %}">Detalles</a>
                                        <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url "dashboard:resources_management:update_resource" recurso.id %}">Actualizar </a>
                                        <div class="dropdown-divider"></div>
                                            <a class="eliminar dropdown-item" data-url="{% url "dashboard:resources_management:delete_resource"  recurso.id %}" >Borrar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p>No existen recursos agregados a la base de datos</p>
                    {% endif %}
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script>
    $(document).ready( function () {
        $('#tablaRecursos').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
        }
        });

    });
    </script>
{% endblock %}