{% extends 'dashboard/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Detalles de la Incidencia{% endblock %}

{% block content %}

    <div class="card" style="margin-bottom:5%;">
        <div class="card-body">
            <div class="float-right">
                <a  href="{% url 'dashboard:map:incidence_map' %}">
                    <button type="button" class="btn btn-icons btn-rounded btn-inverse-warning">
                        <i class="fa fa-arrow-left"></i>
                    </button>
                </a>
            </div>
            <div>
                <h1 class="text-aray"> Detalles de la Incidencia No. {{ incidencia.pk }} </h1>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-4">
            <div class="card card-statistics" style="background-color:#F07049; border-radius: 100px 10px 10px 10px;-moz-border-radius: 100px 10px 10px 10px;-webkit-border-radius: 100px 10px 10px 10px;">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                        <i class="fa fa-id-card fa-5x text-white"></i>
                        </div>
                        <div class="float-right">
                        <p class="mb-0 text-right text-white">Incidencia</p>
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right text-white mb-0"> {{ incidencia.nombre }} </h3>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="card" style="border-radius: 20px 20px 20px 20px;-moz-border-radius: 20px 30px 20px 10px;-webkit-border-radius: 20px 20px 20px 20px;">
                <div class="card-body">
                    <h3 class="text-aray"> Descripción: </h3><h3 class="text-gray"> {{ incidencia.descripcion }} </h3><br>
                    <h3 class="text-aray"> Estado: </h3><h3 class="text-gray"> {{ incidencia.get_estado_display }} </h3><br>
                    <h3 class="text-aray"> Fecha de Reporte: </h3><h3 class="text-gray"> {{ incidencia.fecha_de_reporte|date:"d/m/Y" }} </h3><br>
                    <h3 class="text-aray"> Fecha de Resolución: </h3><h3 class="text-gray"> {{ incidencia.fecha_de_resolucion|date:"d/m/Y" }} </h3><br>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row purchace-popup mt-4">
            <div class="col-12">
                <span class="d-block d-md-flex align-items-center">
                    <p class="text-gray" style="margin-right:5%;font-size:20px;">Reportes</p>
                    <a class="btn purchase-button mt-4 mt-md-0" href="{% url 'dashboard:map:incidence_create' %}">Agregar Reporte</a>
                </span>
            </div>
    </div>

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div style="display:flex;" ><i style="margin-top:5%;margin-left:5%; margin-right: 5%;" class="fa fa-user fa-2x text-gray" ></i><h3 class="text-gray mb-5" style="margin-top:5%;">Reportes</h3></div>
                <div class="card-body" style="padding-top:0;">
                    {% if reportes.count > 0 %}
                    <table id="tablaReportes" class="display">
                        <thead>
                            <tr>
                                <th> ID </th>
                                <th> Contenido </th>
                                <th> Estado </th>
                                <th> Fecha de Reporte </th>
                                <th> Reportado Por </th>
                                <th> Acciones </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for reporte in reportes %}
                            <tr>
                                <td> {{ reporte.id }} </td>
                                <td> {{ reporte.contenido }} </td>
                                <td> {{ reporte.get_estado_display }} </td>
                                <td> {{ reporte.fecha_de_reporte|date:"d/m/Y" }} </td>
                                <td> {{ reporte.reportado_por }}</td>
                                <td>

                                    <a class="nav-link count-indicator " id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                        <button type="button" class="btn btn-icons btn-rounded btn-inverse-warning">
                                            <i class="fa fa-gear"></i>
                                        </button>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                                        <div class="dropdown-item">
                                            <p class="mb-0 text-muted">Acciones</p>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url "dashboard:map:report_update" reporte.id %}">Actualizar </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p>No existen reportes agregados a la base de datos</p>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script>
    $(document).ready( function () {
        $('#tablaReportes').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
            },
            "order": [[0, 'desc']]
        });
    });</script>
{% endblock %}