{% extends 'dashboard/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 grid-margin stretch-card">
            <div class="card card-statistics" style="background-color:#cab8db;border-radius: 10px 10px 200px 10px;-moz-border-radius: 10px 10px 200px 10px;-webkit-border-radius: 10px 10px 200px 10px;">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="fa fa-users fa-5x text-white"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right text-white">Organizaciones</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0 text-white">{{ organizaciones }} Organizacion Registradas</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 grid-margin stretch-card">
            <div class="card card-statistics" style="background-color:#e6b765; border-radius: 100px 10px 10px 10px;-moz-border-radius: 100px 10px 10px 10px;-webkit-border-radius: 100px 10px 10px 10px;">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                        <i class="fa fa-user fa-5x text-white"></i>
                        </div>
                        <div class="float-right">
                        <p class="mb-0 text-right text-white">Voluntarios</p>
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right text-white mb-0">{{ voluntarios }} Voluntarios</h3>
                        </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
            <div class="card card-statistics" style="background-color:#e64545; border-radius: 90px 90px 90px 10px;-moz-border-radius: 90px 90px 90px 10px;-webkit-border-radius: 90px 90px 90px 10px;">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                        <i class="fa fa-globe fa-5x text-white"></i>
                        </div>
                        <div class="float-right">
                        <p class="mb-0 text-right text-white">Mapa de Incidencias</p>
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right text-white mb-0">{{ incidencias }} Incidencias</h3>
                            <h3 class="font-weight-medium text-right text-white mb-0">{{ reportes }} Reportes</h3>
                        </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div> 

    </div>
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card" style="background-color:#62b9c4; border-radius: 10px 140px 10px 10px;-moz-border-radius: 10px 150px 10px 10px;-webkit-border-radius: 10px 150px 10px 10px;">
                <div class="card-body">
                   <i class="fa fa-check fa-5x text-white"></i>
                    <div class="wrapper d-flex justify-content-between">
                        <div class="side-left">
                            <p class="mb-2 text-white">Asignaciones</p>
                            <p class="display-3 mb-4 font-weight-light text-white">{{ asignaciones }} Asignaciones</p>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2 text-white">Tareas Nuevas</p>
                            <p class="mb-2 text-white">{{ tareas_nuevas }}%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-secundary progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ tareas_nuevas }}%" aria-valuenow="{{ tareas_nuevas }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="wrapper mt-4">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2 text-white">Tareas en Progreso</p>
                            <p class="mb-2 text-white">{{ tareas_en_progreso }}%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ tareas_en_progreso }}%" aria-valuenow="{{ tareas_en_progreso }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="wrapper mt-4">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2 text-white">Tareas Realizadas</p>
                            <p class="mb-2 text-white">{{ tareas_realizadas }}%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ tareas_realizadas }}%" aria-valuenow="{{ tareas_realizadas }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card" style="background-color:#71e03a; border-radius: 150px 10px 10px 10px;-moz-border-radius: 150px 10px 10px 10px;-webkit-border-radius: 150px 10px 10px 10px;">
                <div class="card-body">
                    <i class="fa fa-tags fa-5x text-white" style="margin-left:75%;"></i>
                    <div class="wrapper d-flex justify-content-end" style="text-align:right;margin-left:40%;">
                        <div class="side-left">
                            <p class="mb-2 text-white" >Artículos</p>
                            <p class="display-3 mb-4 font-weight-light text-white">{{ articulos }} Artículos</p>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2 text-white">Medicinas</p>
                            <p class="mb-2 text-white">{{ articulos_medicina }}%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ articulos_medicina }}%" aria-valuenow="{{ articulos_medicina }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="wrapper mt-4">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2 text-white">Alimentos</p>
                            <p class="mb-2 text-white">{{ articulos_alimentacion }}%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ articulos_alimentacion }}%" aria-valuenow="{{ articulos_alimentacion }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="wrapper mt-4">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2 text-white">Artículos de Rescate</p>
                            <p class="mb-2 text-white">{{ articulos_rescate }}%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ articulos_rescate }}%" aria-valuenow="{{ articulos_rescate }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="wrapper mt-4">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2 text-white">Vehículos</p>
                            <p class="mb-2 text-white">{{ articulos_transporte }}%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ articulos_transporte }}%" aria-valuenow="{{ articulos_transporte }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}