{% extends 'dashboard/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
            <div class="clearfix">
                <div class="float-left">
                <i class="fa fa-map fa-5x text-danger"></i>
                </div>
                <div class="float-right">
                <p class="mb-0 text-right">Mapa de Incidencias</p>
                <div class="fluid-container">
                    <h3 class="font-weight-medium text-right mb-0">24 Incidencias</h3>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>  
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
            <div class="clearfix">
                <div class="float-left">
                <i class="fa fa-users fa-5x text-warning"></i>
                </div>
                <div class="float-right">
                <p class="mb-0 text-right">Gestión de Personal</p>
                <div class="fluid-container">
                    <h3 class="font-weight-medium text-right mb-0">37 empleados</h3>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>            
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
            <div class="clearfix">
                <div class="float-left">
                <i class="fa fa-check fa-5x text-success"></i>
                </div>
                <div class="float-right">
                <p class="mb-0 text-right">Lista de Asignaciones</p>
                <div class="fluid-container">
                    <h3 class="font-weight-medium text-right mb-0">7 to dos pendientes</h3>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>  
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
            <div class="clearfix">
                <div class="float-left">
                <i class="fa fa-money fa-5x text-info"></i>
                </div>
                <div class="float-right">
                <p class="mb-0 text-right">Gestión de Recursos</p>
                <div class="fluid-container">
                    <h3 class="font-weight-medium text-right mb-0">12 items registrados</h3>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>            
    </div>
{% endblock %}